<!DOCTYPE html>
<html>
    <head>
        <title>Registration Page</title>
        <!-- connect CSS style sheets -->
        <%= stylesheet_link_tag('application', :media =>'all') %>
    <body>
        <%=link_to("Home",{:controller => "home",:action => "welcome"}, {:class => "logout"})%>
        <div class = "regForm">
            <!--:user is the name of the form, you can see that i used param[:user][*attribute here]

                when you submit a form gonna call (create action) in the same controller which
                
                is users controller-->
            <%= form_for(:user, :url =>{:action => 'create'})do |f| %>
            
            <table id="rtable">
            
                <tr>
                    <th>
                        First Name:
                    </th>
                    <td class="temp">
                        <%=f.text_field(:first_name) %>
                    </td>
                </tr>
                
                <tr>
                    <th>
                        Second Name:
                    </th>
                    <td><%=f.text_field(:second_name) %>                    
                    </td>
                </tr>
                
                <tr>
                    <th>
                        Email:
                    </th>
                    <td><%=f.text_field(:email) %>                    
                    </td>
                </tr>
                
                <tr>
                    <th>
                        Passowrd:
                    </th>
                    <td><%=f.text_field(:password) %>                    
                    </td>
                </tr>
            
            </table>
                
            <div class="btnSubmit">
                <%= submit_tag("Register") %>
            </div>
            
            <% end %>
        </div>
        
    </body>
</html>