<!DOCTYPE html>

<html>

    <head>
        <title><%=@user.first_name%>'s Page</title>
        <%= stylesheet_link_tag('application', :media =>'all') %>
    </head>
    
    <body>
        
        <div class = "Name">
            <h1><%=@user.first_name%> <%=@user.second_name%></h1>
            <%=link_to("Logout",{:action => "login"}, {:class => "logout"})%>
        </div>
        
        <!--   add note    -->
        <%=link_to("Add Note to List",{:controller => "notes", :action => "new",:user_id => @user.id}, {:class => "newNote"})%>
        
        <div class="List">
            
            <table>
                <tr>
                    <th>My ToDo List</th>
                </tr>
                
                <% @user.notes.each do |note| %>
                <tr>
                    <td><%=note.note%></td>
                    <td>
<!--                        <form>-->
                            <%if note.is_done %>
<!--                            <%= radio_button_tag(:Done, "OK",checked = true) %>-->
                            <%= label_tag(:Done_one, "Done") %> 
                            <%else%>
<!--                            <%= radio_button_tag(:Not_Done, "Not_OK",checked = false) %>-->
                            <%= label_tag(:Not_Done_one, "Not Done") %> 
                            <%end%>
<!--                        </form>-->
                    </td>
                    <td>
            <%= button_to("edit",{:controller => "notes", :action => "edit", :note_id => note.id, :user_id => @user.id},:class => "editButton") %>
            <%= button_to("remove",{:controller => "notes", :action => "delete", :note_id => note.id,:user_id => @user.id},:class => "remButton") %>
                    </td>
                </tr>
                <% end %>
            </table>
        
        </div>
    </body>
</html>