<!DOCTYPE html>

<html>

    <head>
        <title>New Note Page</title>
        <%= stylesheet_link_tag('application', :media =>'all') %>
    </head>

    <body>
        <%=link_to("Back to Account",{:controller => "users", :action => "show", :user_id => @user.id }, {:class => "logout"})%>
        
        <div class="regForm">
            
            <%= form_for(:note, :url =>{:action => 'update',:user_id => @user.id, :note_id =>@note.id})do |f| %>
            
                <p>Note</p>
                <%= f.text_area(:note , {"col" => 40,"row" =>15,:class => "New_Note"} ) %>

                <p>Status(true -> Done / false -> Not Done)</p>

                <%=f.text_field(:is_done)%>
            
                <div class="btnSubmitNote">
                    <%= submit_tag("Update")%>
                </div>
            
            <% end %>
            
            
        </div>
    </body>

</html>
